{# impl: FR-001-10 #}
{% if signed_embed_url %}
<div
    class="bunny-video-player"
    data-video-id="{{ bunny_video_id }}"
    data-config-version="{{ config_version }}"
    data-completion-threshold="{{ bunny_config.completion_threshold }}"
    data-save-event-url="{{ save_event_url }}"
>
    <iframe
        id="{{ video_player_id }}"
        class="bunny-video-iframe"
        src="{{ signed_embed_url }}"
        frameborder="0"
        scrolling="no"
        allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
        allowfullscreen
        referrerpolicy="strict-origin-when-cross-origin"
        title="Video Content"
    ></iframe>
</div>
<script src="{{ playerjs_url }}"></script>
<script src="{{ bunny_unavailable_fallback_url }}"></script>
<script src="{{ bunny_player_js_url }}"></script>
{% else %}
<div class="bunny-video-unavailable">Відео недоступне</div>
{% endif %}
